@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$warna1:#FFEFD6;
$warna2:#C6B79F;
$warna3:#FFEECA;
$warna4:#005c4d;
$white:hsl(0, 0%, 95%);
$black:hsl(0, 0%, 20%);
$text-white:hsl(0, 0%, 85%);
$text-black:hsl(0, 0%, 40%);
$colors: (
    /*White*/
    white:$white, white-dark:darken($white, 10%), white-darker:darken($white, 20%), white-darkest:darken($white, 30%), white-light:lighten($white, 10%),
    /*Dark*/
    black:$black, black-light:lighten($black, 10%), black-lighter:lighten($black, 20%), black-lightest:lighten($black, 30%), black-dark:darken($black, 10%),
    /*Warna satu*/
    satu:$warna1, satu-light:lighten($warna1, 10%), satu-lighter:lighten($warna1, 20%), satu-lightest:lighten($warna1, 30%), satu-shine:lighten($warna1, 40%), satu-dark:darken($warna1, 10%), satu-darker:darken($warna1, 20%), satu-darkest:darken($warna1, 30%),
    /*Warna Dua*/
    dua:$warna2, dua-light:lighten($warna2, 10%), dua-lighter:lighten($warna2, 20%), dua-lightest:lighten($warna2, 30%), dua-dark:darken($warna2, 10%), dua-darker:darken($warna2, 20%), dua-darkest:darken($warna2, 30%),
    /*Warna Tiga*/
    tiga:$warna3, tiga-light:lighten($warna3, 10%), tiga-lighter:lighten($warna3, 20%), tiga-lightest:lighten($warna3, 30%), tiga-dark:darken($warna3, 10%), tiga-darker:darken($warna3, 20%), tiga-darkest:darken($warna3, 30%),
    /*Warna Empat*/
    empat:$warna4, empat-light:lighten($warna4, 10%), empat-lighter:lighten($warna4, 20%), empat-lightest:lighten($warna4, 30%), empat-dark:darken($warna4, 10%), empat-darker:darken($warna4, 20%), empat-darkest:darken($warna4, 30%),
    /*Grey*/
    grey:#B0A8B9, grey-light:lighten(#B0A8B9, 10%), grey-lighter:lighten(#B0A8B9, 20%), grey-lightest:lighten(#B0A8B9, 40%), grey-lightestt:lighten(#B0A8B9, 70%), grey-dark:darken(#B0A8B9, 10%), grey-darker:darken(#B0A8B9, 20%), grey-darkest:darken(#B0A8B9, 40%), grey-darkestt:darken(#B0A8B9, 70%),
    /*Danger*/
    danger:#D0120F, danger-light:lighten(#D0120F, 10%), danger-lighter:lighten(#D0120F, 20%), danger-lightest:lighten(#D0120F, 30%),
    /*Alert*/
    alert:#FFC451, alert-light:lighten(#FFC451, 10%), alert-lighter:lighten(#FFC451, 20%), alert-lightest:lighten(#FFC451, 30%),
    /*Teks*/
    text-dark:$text-black, text-light:$text-white,
);


/*Media Breakpoints*/
$pc:1024px; //1024 is pc
$tablet:768px; //768 is tablet

/*Transisi*/
$transition:350ms ease-in-out;
$transition-fast: 200ms ease-in-out;
$transition-slow: 500ms ease-in-out;
$transition-slower: 1000ms ease-in-out;
$transition-slowest: 1500ms ease-in-out;

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    // background: #ffffff;
    // font-family: "Poppins",
    // sans-serif;
    // font-style: normal;
    // font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fluid {
    width: 100%;
    height: 100%;
}

.transparent {
    opacity: 0;
    transition: $transition;

    &:hover {
        opacity: 1;
    }
}